.form {
  margin-bottom: 100px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: 767.98px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.inputBlock {
  h3 {
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: 400;
    color: var(--c-def-black);

    &.required::before {
      content: 'â‹';
      margin-right: 5px;
      vertical-align: middle;
      font-size: 9px;
      color: var(--c-er-red);
    }
  }

  > input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--c-str-medium);
    border-radius: 8px;

    &::placeholder {
      color: var(--c-black-300);
    }

    &.error {
      border-color: var(--c-er-red);
    }

    &:disabled {
      color: var(--c-black-500);
      border: 1px solid var(--c-black-300);
      background-color: var(--c-black-100);
      pointer-events: none;
    }
  }

  textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--c-str-medium);
    border-radius: 8px;
    resize: vertical;

    &.error {
      border-color: var(--c-er-red);
    }
  }

  .errorMessage {
    display: block;
    font-size: 13px;
    color: var(--c-er-red);
  }
}
